<ion-view>
  <ion-content>
    <div style="top:2%; left:5%; position: absolute; color: black">
      <i id="map-back-button" class="icon ion-android-arrow-back"
         style="font-size:200%; margin-top: 5%; margin-left: 5%;" ng-click="backClicked()"></i>
    </div>
    <button id="create-tour-button" class="button button-small button-assertive" style=""
            ng-click="startNavigation()"> Start Tour
    </button>
    <div id="reviews-view-map" data-tap-disabled="true"></div>

    <div style="float: left; width: 100%; margin:2%">
      <h3> {{city}},  {{state}}</h3>

      <div class="item">
        <strong>{{title}}</strong>
        <br>
        <div style="white-space: nowrap;">Rating: <rating style="float: right; margin-right: 54%" ng-model="ratings" max="5"></rating>{{ratings}}</div>
        <br>
        <h3>Estd. Tour Time: {{estdTourTime}} min   Estd. Tour Cost: {{estdTourCost}}</h3>
      </div>

      <ion-list>
        <!-- add a section header -->
        <ion-item class="item-divider">Reviews</ion-item>
        <!-- iterate thru each item in the list, use $index as item identifier -->
        <ion-item style="text-align: justify; white-space: inherit" ng-repeat="item in reviews track by $index">
              <p style="text-align: justify; white-space: inherit">{{item}}</p>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>
